<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>748233791562-0oetl8frohupnfd6hkcc2i9hqdap87pm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.748233791562-0oetl8frohupnfd6hkcc2i9hqdap87pm</string>
	<key>API_KEY</key>
	<string>AIzaSyDSavekhw6aWUj3LGBNUKr1sVnyeFzZqD4</string>
	<key>GCM_SENDER_ID</key>
	<string>748233791562</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dnguyen.flutterInstagramClone.dev</string>
	<key>PROJECT_ID</key>
	<string>flutter-instagram-clone-4748b</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-instagram-clone-4748b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748233791562:ios:00e95e25613b4c9a3aaeb3</string>
</dict>
</plist>